/* 1. don't modify this style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* 2. we use :root for default variables */
  :root {
    /* --"somekey-attr": "somevalue" i.e : */
    --black-700 : #000;
    --primary :#3B2A9F;
    --secondary :#FA8305;
    --primary-100 :#5141AA;
    --white :#FFFFFF;
    --black-100:#1C140F;
    --gray:#898989;
    --black-200:#0e0808;
    --gray-100:#D2D2D2;
  }
  /* good luck */
  body{
    
    font-family: "Poppins", sans-serif !important;
  }
 
  .main{
    background-color: var(--primary);
   
  }
  .background-1{
    background-color: var(--primary);
}
.width-1440{
    width: 1440px;
}
.font-poppins{
    font-family: Poppins;
}
.font-w-400{
    font-weight: 400;
}
.navbar-brand.font-s-29{
    font-size: 29px;
}
.navbar-brand.font-w-800{
    font-weight: 700;
}
.height-100{
    height: 100px;
}
.navbar-brand.ml-58{
    margin-left: 47px;
}
.navbar-brand.mt-12{
    margin-top:px;
}
.light-button{
    font-weight: 400px;
    font-size: 13px;
    width: 131.66px;
    height: 41.34px;
    margin-right: 48px;
}
.mt-25{
    margin-top: 10px;
}
.mr-32{
    margin-right: 25px;
}
.mr-59{
    margin-left: 520px;
}
.ml-88{
    margin-left: 88px;
}
.btn.btn-background{
    font-weight: 400px;
    font-size: 13px;
    line-height: 19.5px;
    margin-top: 20px;
    background-color: var(--secondary);
}

 

