/* 1. don't modify this style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* 2. we use :root for default variables */
  :root {
    /* --"somekey-attr": "somevalue" i.e : */
    --black-700 : #000;
    --primary :#3B2A9F;
    --secondary :#FA8305;
    --primary-100 :#5141AA;
    --white :#FFFFFF;
    --black-100:#1C140F;
    --gray:#898989;
    --black-200:#0e0808;
  }
  /* good luck */
  body{
    width: 1440px;
    font-family: "Poppins", sans-serif !important; 
  }

  .header{
    background-color: var(--primary);
    height:100px ;
    width: 1438.77px;
    z-index: 9; 
  }
  .div1{
    gap: 565.52px;
    margin-left:58.95px ;

  }
  .div1 #logo{
    margin-top: 25px;
    font-weight: 800;
    font-size: 29px;
    line-height: 44.51px;
  }
  .group3{
    gap:36.13px ;
  }
  .group2{
    gap: 88px;
    margin-top: 40px;
  }
  .group2 a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .group3 .btn{
    background-color: var(--secondary);
    width: 131.66px;
    height: 41.34px;
    font-weight: 400;
    font-size: 13px;
    line-height: 19.5px;
    margin-top: 32px;
   
  }
  .main{
    background-color: var(--primary);
  }

