.group8{
    padding-top: 103px;
  }
 .main1 .group8{
  width: 527px;
 }
  .img1{
    width: 600px;
    height: 750px;
  }
  .group8 .p1{
    
    font-weight: 700;
    font-size: 20px;
    line-height: 31.04px;
    color: var(--secondary);
    
  }
  .group8 h1{
    
    margin-top: 17px;
    font-weight: 700;
    font-size: 50px;
    line-height: 77.6px;
  }
  .group8 #p2{
    margin-top: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
  }
  .group8 .btn{
    background-color: var(--secondary);
    margin-top: 48px;
    width: 195px;
    height: 53px;
  }
  .group8 a{
   text-decoration: none;
  }
  .img2{
    width: 96px;
    height: 30px;
    position: absolute;
    top: 409px;
    left: 649px;
  }
  .cry{
    width: 101px;
    height: 99px;
    position: absolute;
    top: 202px;
    left: 828px;
  }
 .img3{
    width: 59px;
    height: 64px;
    position: absolute;
    top: 218px;
    left: 1168px;
    rotate: -0 deg;
  }
  .main-2{
    margin-top: 100px;
   }
.main2 p{
    width: 404px;
    height: 58px;
    font-weight: 700;
    font-size: 31px;
    line-height: 58.13px;
    white-space: nowrap;
    font-family: "Rubik", sans-serif;
    }
    .main2 .btn{
        background-color: var(--primary-100 );
        font-weight: 500;
        font-size: 20px;
        line-height: 37.5px;
        font-family: "Rubik", sans-serif;
        width: 139px;
        height:57px ; 
    }
    .main2{
       margin-top: 100px;
        
    }
    .li1{
        width: 251px;
        height: 277px;
       }
        
    .ul1 .li1:hover{
        opacity: 0.5;
       }
    .ul1 li div:hover #fire{
        transform: scale(1.3);
       }
    .ul1 p{
        white-space: nowrap;
        height: 24px;
        font-weight: 500;
        font-size: 22px;
        line-height: 41.25px;
       color: var(--white);
        padding-bottom: 40px;
        font-family: "Rubik", sans-serif;
        margin-top: 20px;
       }
    .ul1  .fire{
        width: 18.5px;
        height: 25px;
       }
       .ul1 li div:hover .fire{
        transform: scale(1.3);
       }
    .ul1 div{
        margin-left: 35px;
        gap: 9px;
        align-items: center;
    }
    .ul1 .card{
        background-color: var(--primary);
        border-radius: 0px;
        border-style: none;
        margin-top: 57px;
       }
    .txt1{
      width: 826px;
      height: 132px;
        font-weight: 600;
        font-size: 35px;
        margin-top: 129px;
    }
  .txtt{
    margin-top: 100px;
  }
  .section-3{
    width: 600px;
    height: 173px;
    margin-top: 67px;
    margin-left: 150px;
    margin-bottom: 46px;
  }
     .txt2{
        font-weight: 600;
        font-size: 30px;
       }
     .txt3{
      
        font-weight: 400;
        font-size: 16px;
        margin-top: 32px;
        
       }
    .ellipse{
        width: 196px;
        height: 154px;
        left: 973px;
       }
    .img4{
        width: 1146px;
        height: 462px;
        position: relative;
        top: 46px;
        left: 70px;
        right: 146px;
        border-radius: 5px;
        margin-top: 20px;
       }
    .txt4{
       
        font-weight: 700;
        font-size: 30px;
        
        
        white-space: nowrap;
       }
    .txt5{
       
        font-weight:400;
        font-size: 14px;
        margin-top: 15px;
        text-align: center;
       
       }
  
  
     .item2{
        margin-top: 100px;
       }
       .item-2{
        margin-top: 100px;
       }
    .item3 .btn{
        width: 139px;
        height:57px ;
        background-color: var(--primary-100);
        margin-left: 651px;
        margin-top: 72px;
        font-weight: 500;
        font-size: 20px;
        line-height: 37.5px;
        font-family: "Rubik", sans-serif;
       }
       .item4{
        margin-left: 136px;
        margin-top: 105px;
       }
       .item4 .p1{
        font-weight: 600;
        font-size: 30px;
        line-height: 56.25px;
       }
       .item4 .p2{
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        margin-top: 32px;
        color: var(--white);
       }
       .box{
        width: 1170px;
        height: 189px;
        background-color:var(--black-100);
        margin-left: 136px;
        margin-top: 74px;
        margin-right: 134px;
       }
       .bx1 .p1{
        width: 303px;
        height: 45px;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px ;
       }
       .bx1{
        margin-left: 56px;
        margin-top: 40px;
       }
       .bx1 .p2{
        font-weight: 400;
        font-size: 17px;
        line-height:25.5px ;
        margin-top: 10px;
       }
       .bx2 .email{
        margin-left: 20.55px;
        font-weight: 300;
        font-size: 15px;
        line-height: 19.5px;
        color:#898989;
        width: 155.1px;
        height: 20px;
        padding-top: 14px;
       } 
       .bx2{
        width: 385.68px;
        height: 48px;
        background-color:var(--white);
        gap: 98.8px;
        margin-top: 71px;
        margin-right: 50px;
       }
       .bx2 .b5{
        width: 105px;
        height: 37px;
        border-radius: 8px;
        background-color:var(--secondary);
        margin-top: 6px;
        margin-right: 6.24px;
       }
       .bx2 .b5 p{
        font-weight: 400;
        font-size: 13px;
        line-height: 19.5px;
        color:var(--white);
        margin-left: 16px;
       }
       .group2 .a1 .bar .rec1{
        width: 30.97px;
        height: 4px;
        background-color: var(--secondary);
      }
      .group2 .a1 .bar .rec2{
        width: 5px;
        height: 4px;
        background-color: var(--secondary);
      }
      .group2 .a1 .bar{
        gap: 3px;
        left: 692.41px;
      }
      @media (width<=768px){
        .main1.group8{
          width: 527px;
         }
         .group8 .btn{
          background-color: var(--secondary);
          margin-top: 10px;
          width: 195px;
          height: 53px;
        }
        .ul1 .card{
          margin-top: 42px;
         }
         .li1{
          margin-left: 20px;
          }
          .ul1 div{
            margin-left: 65px;
        }
        .txt1{
          
          font-weight: 600;
          font-size: 30px;
          
          width: 627px;
        }
        .section-3{
          width: 600px;
          height: 173px;
          margin-top: 33px;
          margin-left: 118px;
        }
        .img4{
          width: 573px;
          height: 462px;
          position: relative;
          top: 46px;
          left: 60px;
          right: 146px;
          border-radius: 5px;
          margin-top: 20px;
         }
         .itm1{
          margin-top: 100px;
         }
         .c1{
          width: 352px;
          height: 223px;
       }
       .c2{
        width: 280px;
        height: 223px;
       }
       .c3{
        width: 305px;
        height: 223px;
       }
       .c4{
        width: 335px;
        height: 223px;
        
       }
       .c5{
        width: 246px;
        height: 223px;
       }
       .c6{
        width: 401px;
        height: 223px;
       }
      }
      @media (width<=480px){
        .main1.group8{
          width: 479px;
          height: 124px;
         }
         .ul1 .card{
          margin-top: 23px;
         }
         .li1{
         margin-left: 70px;
         }
         .ul1 div{
          margin-left: 120px;
      }
      .txt1{
        width: 452px;
        font-weight: 600;
        font-size: 24px;
        margin-top: 70px;
      }
      .section-3{
        width: 452px;
        margin-left: 8px;
      }
      .img4{
        width: 352px;
        height: 388px;
        position: relative;
        top: 25px;
        left: 50px;
        right: 146px;
        border-radius: 5px;
        margin-top: 20px;
       }
       .sec4{
        margin-top: 25px;
       }
      }
      
  